features/step_definitions/.DS_Store
features/.DS_Store
sphereintersect5.ppm
errors.txt
sphereintersect.ppm
sphereintersect2.ppm
sphereintersect3.ppm
sphereintersect4.ppm
apptest.js
apptest.js.map
features/step_definitions/canvas.js
features/step_definitions/canvas.js.map
features/step_definitions/intersections.js
features/step_definitions/intersections.js.map
features/step_definitions/matrices.js
features/step_definitions/matrices.js.map
features/step_definitions/rays.js.map
features/step_definitions/spheres.js
features/step_definitions/spheres.js.map
features/step_definitions/stepdefs.js
features/step_definitions/stepdefs.js.map
features/step_definitions/transforms.js.map

